<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open Library</title>
    <link rel="stylesheet" href="static/css/all.min.css" />
    <link rel="stylesheet" href="static/css/Home.css" />
    <link rel="stylesheet" href="static/css/Style.css" />
  </head>

  <body>
    <nav id="nav"></nav>
    <header>
      <div>
        <div class="text">
          <h2>Welcome To Open Library</h2>
          <p>Classic Novels || Trending Books || Greatest Authors</p>
          <a href="#article" class="button">Learn More</a>
        </div>
      </div> 
    </header>
    <section class="work-steps" id="work-step">
      <div class="container">
        <h2 class="main-head">About Us</h2>
        <div class="content">
          <div class="image">
            <img src="static/img/IMG_9033.jpg" alt="" />
          </div>
          <div class="steps">
            <div class="box">
              <div class="text">
                <h2>About The Library</h2>
                <p>
                  Find your favourite books here. You can search for a book , an author or even using categories for
                  easier search!
                </p>
              </div>
            </div>
            <div class="box">
              <div class="text">
                <h2>Our Customers</h2>
                <p>
                  We target all readers , including kids who enjoy short stories and Adults who are interested in Novels
                  and Plays!
                </p>
              </div>
            </div>
            <div class="box">
              <div class="text" style="display: flex; justify-content: space-around; flex: 1">
                <h2 style="font-size: 35px; color: #007bff">Info</h2>
                <div>
                  <h2 style="font-size: 35px">50+</h2>
                  <span style="color: black">Authors's</span>
                </div>
                <div>
                  <h2 style="font-size: 35px">1k+</h2>
                  <span style="color: black">Books</span>
                </div>
                <div>
                  <h2 style="font-size: 35px">100+</h2>
                  <span style="color: black">Category</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="article" id="article">
      <h2 class="main-head">Featured Books</h2>
      <div class="container">
        <div class="box">
          <img src="static/img/IMG_9038.jpg" alt="" />
          <div class="content">
            <h3>Greek Lyric Poetry</h3>
            <p>One of the greatest poetry books</p>
          </div>
          <!-- <div class="info">
               <a href="#">Read More</a>
            </div> -->
        </div>
        <div class="box">
          <img src="static/img/IMG_9039.jpg" alt="" />
          <div class="content">
            <h3>The Seven Plays in English Verse</h3>
            <p>Lets know more about Plays! By Sophocles.</p>
          </div>
          <!-- <div class="info">
               <a href="#">Read More</a>
            </div> -->
        </div>
        <div class="box">
          <img src="static/img/IMG_9040.jpg" alt="" />
          <div class="content">
            <h3>The Last Spike and Other Railroad Stories</h3>
            <p>A ceremonial final spike was driven into the Canadian Pacific Railway</p>
          </div>
          <!-- <div class="info">
               <a href="#">Read More</a>
            </div> -->
        </div>
        <div class="box">
          <img src="static/img/IMG_9041 2.jpg" alt="" />
          <div class="content">
            <h3>The Custom of The Country</h3>
            <p>One of the top Books for Edith Wharton!</p>
          </div>
          <!-- <div class="info">
               <a href="#">Read More</a>
            </div> -->
        </div>
      </div>
    </section>
    <section class="testimonials" id="testimonials">
      <div class="container">
        <h2 class="main-head">What People Say</h2>
        <div class="content">
          <div class="box">
            <h3>Dr Neamat</h3>
            <div class="rate">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p>I think it deserves a full mark !</p>
          </div>
          <div class="box">
            <h3>Eng Nehal</h3>
            <div class="rate">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p>Good Job !</p>
          </div>
          <div class="box">
            <h3>William Shakespeare</h3>
            <div class="rate">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <p>I always wondered of a website like this , Thank you !</p>
          </div>
        </div>
      </div>
    </section>
    <footer id="footer">
      <div class="container">
        <div class="box">
          <img src="static/img/logo-white.png" width="200px" alt="" />
          <ul class="social">
            <li class="facebook">
              <a href="static/#">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
            </li>
            <li class="twitter">
              <a href="static/#">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li class="youtube">
              <a href="static/#">
                <i class="fa-brands fa-youtube"></i>
              </a>
            </li>
          </ul>
          <p>Copyright © 2024 All rights reserved</p>
        </div>
        <div class="box">
          <div class="line">
            <i class="fas fa-map-marker-alt fa-fw"></i>
            <div class="info">Faculty of Computers and Artificial Intelligence , Cairo University</div>
          </div>
          <div class="line">
            <i class="far fa-clock fa-fw"></i>
            <div class="info">10:00 AM - 11:00 PM</div>
          </div>
          <div class="line">
            <i class="fas fa-phone-volume fa-fw"></i>
            <div class="info">+20000000000</div>
          </div>
        </div>
      </div>
    </footer>

    <script src="static/Js/Navbar.js"></script>
    <!-- <script>
      window.alert("Dear Eng.Nehal, In order to fully utilize the site and see all the features and dynamic data that we used you must add books as an admin first so you can see the books, books aren't automatically introduced an admin must add them first because we used local storage and you have to open it using a live server because every device has different path names. \nThanks in Advance !!")
   </script> -->
  </body>
</html>
